
\.idea/inspectionProfiles/profiles_settings\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/sf_status_changer\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

change_status/lead\.csv

split_types/input/lead_new\.csv

split_types/output/leads_output\.csv

split_types/output/nontype_output\.csv

split_types/output/opportunity_output\.csv

*.csv

*.csv#
